[submodule "ext/cmdline"]
	path = ext/cmdline
	url = https://github.com/tanakh/cmdline.git
[submodule "ceres-solver"]
	path = ceres-solver
	url = https://ceres-solver.googlesource.com/ceres-solver
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ext/fmt"]
	path = ext/fmt
	url = https://github.com/fmtlib/fmt.git
